karkat<br>
<img src="https://cdn.discordapp.com/attachments/708773318291095643/733784493634355240/unknown.png">
<img src="https://cdn.discordapp.com/attachments/733434497793523808/735221818423509102/unknown.png">
<img src="https://cdn.discordapp.com/attachments/733434497793523808/735221881463898202/unknown.png">
<br>List of Patcail's antics:
<ol>
    <li>Nuke 1, animatter dimesions server</li>
    <li>Nuke 2, googology server</li>
    <li>Nuke 3, superspruce server</li>
    <li>Nuke 4, superspruce server</li>
    <li>Nuke 5, superspruce server</li>
    <li>Nuke 6, superspruce server</li>
    <li>Nuke 7, googology server</li>
    <li>Nuke 8, superspruce server</li>
    <li>"Random Fuss" ban <img src="https://cdn.discordapp.com/attachments/690940856366268526/692792580039245904/unknown.png"></li>
    <li>P&A last place in incremental tournament - Patcail publicly shamed the developer of the game, Katakana.</li>
    <li>NAME is CHAIN - Patcail changed the nicknames of the dozen-or-so most hoisted people on the server to form a chain without consent. like this: "a is b", "b is c", "c is d"</li>
    <li>AD creator claim - Patcail claimed to be the guy who made antimatter dimensions. He later said it was a joke, but the damage had already been done.</li>
    <li>Nuke for unban- look at the second image.</li>
    <li>Rigging the poll- look at third image.<br>There was a poll on the googology server to unban Patcail. He gave a bunch of random people the "exist" role, and told them that they would get tester if they voted to unban him.<img src="https://cdn.discordapp.com/attachments/707315539155877998/707315657582051450/imgcapture_2.png"></li>
</ol>
<details>
    <summary>original source for list (mkey)</summary>
    <img src="https://media.discordapp.net/attachments/484464329513762817/707360649465954334/unknown.png">
</details>

